Django==5.0.6
gunicorn
psycopg2-binary  # For PostgreSQL database
whitenoise  # For serving static files
dj-database-url  # For parsing DATABASE_URL
python-decouple  # For managing env variables
requests  # If you're making any HTTP requests
